.green-bckg {
    background-color: #63903a !important;
}

.yellow-font {
    color: #ffcf01 !important;
}

.yellow-font:hover {
    color: #fff !important;
}

.body-bckg {
    background-image: url("../Img/background4.jpeg");
}

.container-bckg {
    background-color: aliceblue;
    opacity: 0.8;
}

.bigger-font {
    font-size: 1.5rem;
}



