@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <button class="btn btn-success"> @Html.ActionLink("Create New Season", "Create", "Season")</button>
    <hr />
    <p>Current season </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Culture</th>
                <th>Expences</th>
                <th>Yield</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Letuce</td>
                <td>30.00</td>
                <td>20</td>
                <td>600.00</td>
            </tr>
        </tbody>
    </table>
</div>
