@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <button class="btn btn-success mt-5"> @Html.ActionLink("Create New Season", "Create", "Season", null, new { @class = "text-warning h4"})</button>
    <hr />
    <h4>Current season </h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Culture</th>
                <th>Expences</th>
                <th>Yield</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Letuce</td>
                <td>30.00</td>
                <td>20</td>
                <td>600.00</td>
            </tr>
        </tbody>
    </table>
</div>
